
/* Your CSS Code here. */
.holder{
	display:flex;
	justify-content:space-evenly;
	flex-wrap:wrap;
}
.item-3{
	width:90px;
	height:90px;
	background-color:green;
	font-size:50px;
}
.item-1{
	width:90px;
	height:90px;
	background-color:red;
	font-size:50px;
}
.item-2{
	width:90px;
	height:90px;
	background-color:blue;
	font-size:50px;
}